<style type="text/css" media="screen">
  .container {
    text-align: center;
  }
  span.space-left {
    padding-left: 1em;
  }
  </style>
<div class="container">
<h2>Hungry?</h2>
<p>Login here:</p>
<form action="/users/login" method="POST" accept-charset="utf-8">
  <%=erb :"/users/credentials"%>
  <span class="space-left"><input type="submit" value="submit" class="btn btn-primary"></input></span>
</form>
</div>

