<div class="centered">
  <h2>Hungry?</h2>
  <p>Login here:</p>
  <form action="/users/login" method="POST" accept-charset="utf-8">
  <%=erb :"/users/_credentials"%>
    <span class="space-left"><input type="submit" value="submit" class="btn btn-primary grey-hover"></input></span>
  </form> 
</div>



