
<%Meal.order("updated_at DESC").each do |meal|%>
  <h3><a href="\meals\<%=meal.id%>"><%= meal.name.titleize %></a></h3>
    by <%=meal.username.titleize%>
    <br>
    updated: <%=meal.updated_at.strftime("%A, %B %d, %Y")%>
  <%end%>





  
