<div class="centered full-width">
  <ul class="list-group full-width">
    <%Meal.order("updated_at DESC").each do |meal|%>
    <li><h3><a href="\meals\<%=meal.id%>" class="list-group-item"><%= meal.name.titleize %>, created by: <%=meal.username.titleize%>, updated: <%=meal.updated_at.strftime("%A, %B %d, %Y")%></a></h3>
    </li>
    <%end%>
  </ul>
</div>





